@font-face {font-family: "Raleway"; src: url("//db.onlinewebfonts.com/t/314107d2b4fd9c91314be5b4cccb08f6.eot"); 
                                    src: url("//db.onlinewebfonts.com/t/314107d2b4fd9c91314be5b4cccb08f6.eot?#iefix") 
                                    format("embedded-opentype"), 
                                    url("//db.onlinewebfonts.com/t/314107d2b4fd9c91314be5b4cccb08f6.woff2") 
                                    format("woff2"), 
                                    url("//db.onlinewebfonts.com/t/314107d2b4fd9c91314be5b4cccb08f6.woff") 
                                    format("woff"), 
                                    url("//db.onlinewebfonts.com/t/314107d2b4fd9c91314be5b4cccb08f6.ttf") 
                                    format("truetype"), 
                                    url("//db.onlinewebfonts.com/t/314107d2b4fd9c91314be5b4cccb08f6.svg#Raleway") 
                                    format("svg"); }

body
{
    font-family: 'Raleway', sans-serif;
}
nav ul
{
	margin: 0px;
	padding:0px;
	background: white;
	list-style: none;
    display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

}

nav a
{   margin-top:0px;
	padding: 10px;
	display: block;
	text-align: justify;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}

header
{
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding:0px;
    justify-content: space-between;

}

h1
{
font-size: 220%;

}
.pop
{
    background-color: #F2F2F2;
    display: flex;
   flex-flow: column wrap;
   height: auto;
   width: auto;
}

.pop article
{
    background-color: white;  
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    
 
}
.pop img
{
        box-sizing:border-box ;
         max-width: 200px; 
         max-height: 150px ; 
          object-fit: cover  ; 
           
}
.pop::first-line
{
    display: flex;
    flex-direction: column;
  
}


.heb
{
    background-color: #F2F2F2;
    display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;  
   width: 100%;
   height: auto;
}    

.heb article
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    height: 30%;
    width: 30%;
    display: flex;
    flex-flow: column wrap ;
}

.heb img {
    object-fit:cover ;
    box-sizing: content-box;
     max-width: 100%; 
     max-height: 100% ; 
       
       }

.act
{
    background-color: #F2F2F2;
    display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;  
   width: 100%;
   height: auto;   
}

.act article
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    height: 30%;
    width: 30%;
    display: flex;
    flex-flow: column wrap ;   
}
.act img
{
    object-fit:cover ;
    box-sizing: content-box;
     max-width: 100%; 
     max-height: 100% ;   
}
    footer
{
    background-color: #F2F2F2 ;
    display: flex;
    justify-content: space-between;
    width: 100%;
  margin: auto;
  padding: 2px;
 
}
footer div
{
    width: 30%;
    padding: 2rem 2rem;
}
footer ul
{
    list-style: none;

}